<div class="global-container col-6 ml-auto mr-auto mt-5">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Log in to Paynetics</h3>
            <div class="card-text">
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% else %}
                    {% if error is defined and error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form method="post" action="{{ url('app_login') }}" class="login-form">
                        <!-- to error: add class "has-danger" -->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" name="email"  value="{{ last_username|default('') }}"  class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" required class="form-control form-control-sm" id="exampleInputPassword1">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                    </form>
                {% endif %}
                <div class="mb-12">
                    <ul class="list ">
                        <li class=" list-item">user: admin@paynetics.local</li>
                        <li class=" list-item">pass: admin</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

