{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="row">
            <div class="col-sm-12">
                <h2><a class="stretched-link text-info" href="{{ path('app.swagger_ui') }}">  Api Docs </a> </h2>
                <h4><a class="stretched-link text-dark" href="{{ path('app.swagger_ui') }}"> Go to simple Api Documentation </a> </h4>
                <p>Simple documentation using Nelmio\ApiDocBundle </p>
                <p>Controller is stored in: src/controller/API </p>
            </div>

            <div class="col-sm-12">
                <h2><a class="stretched-link text-info" href="{{ path('project_index') }}"> Project </a> </h2>
                <h4><a class="stretched-link text-dark" href="{{ path('project_index') }}"> Go to Project CRUD </a> </h4>
                <p>Crating standard request/response workflow crud operation using: Symfony HTTP Client</p>
            </div>

            <div class="col-sm-12">
                <h2><a class="stretched-link text-info" href="{{ path('task_index') }}"> Task </a> </h2>
                <h4><a class="stretched-link text-dark" href="{{ path('task_index') }}"> Go to Task CRUD </a> </h4>
                <p>Crating standard request/response workflow crud operation using: Symfony HTTP Client</p>
            </div>
            <div class="col-sm-12">
                <h2><a class="stretched-link text-info" href="{{ path('app_login') }}"> Login </a> </h2>
                <h4><a class="stretched-link text-dark" href="{{ path('app_login') }}"> Go to Login </a> </h4>
                <p>Crating standard request/response workflow crud operation using: Symfony HTTP Client</p>
            </div>


        </div>
    </div>

{% endblock %}
