{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task <a href="{{ path('task_index') }}" class="btn btn-secondary btn-md pull-right">back to list</a> </h1>
    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}
    <br>
    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
