{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    {% if  tasks.code == 0 %}
        {% dump (tasks) %}
    <h1>Task index
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-info btn-sm" href="{{ path('task_new') }}">Create new</a>
        {% endif %}
    </h1>
        <nav aria-label="Page navigation example" class="fa-pull-right">
            <ul class="pagination">
                {% for key,link in tasks.data.links %}
                    {% if link and key in ['next','prev'] %}
                        <li class="page-item"><a class="page-link" href="{{ path('task_index') }}?{{ link }}">{{ key|title }}</a></li>
                    {% endif %}
                {% endfor %}

            </ul>
        </nav>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>Duration</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks.data.items %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.title }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.duration ? task.duration|date('Y-m-d') : '-' }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a class="btn btn-info btn-sm" href="{{ path('task_show', {'id': task.id}) }}"><i class="fa  fa-eye"></i></a>
                        {% if  is_granted('ROLE_ADMIN') %}
                        <a class="btn btn-primary btn-sm" href="{{ path('task_edit', {'id': task.id}) }}"><i class="fa fa-pencil"></i></a>
                        {% endif %}
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <nav aria-label="Page navigation example" class="fa-pull-right">
            <ul class="pagination">
                {% for key,link in tasks.data.links %}
                    {% if link and key in ['next','prev'] %}
                        <li class="page-item"><a class="page-link" href="{{ path('task_index') }}?{{ link }}">{{ key|title }}</a></li>
                    {% endif %}
                {% endfor %}

            </ul>
        </nav>
    {% else %}
        <div class="alert alert-secondary" role="alert">
            Cannot Fetch data From Server
        </div>
    {% endif %}
{% endblock %}
