{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <h1>Create new Task  <a href="{{ path('task_index') }}" class="btn btn-secondary btn-md pull-right">back to list</a> </h1>

    {{ include('task/_form.html.twig') }}


{% endblock %}
