{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task - <sup><small>{{ task.title }}</small></sup>
        <a href="{{ path('task_index') }}" class="btn btn-secondary btn-md fa-pull-right mr-5"><i class="fa fa-sliders"></i> back to list</a>

    </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Project</th>
                <td><a href="{{ path('project_show',{'id':task.project.id}) }}">{{ task.project.title }}</a></td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ task.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ task.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ task.status }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ task.duration ? task.duration|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

        </tbody>
    </table>
    <a href="{{ path('task_edit', {'id': task.id}) }}" class="btn btn-primary btn-md fa-pull-left"><i class="fa fa-pencil"></i> Edit </a>

    {{ include('task/_delete_form.html.twig') }}
{% endblock %}
