<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block header_js %}
            {{ encore_entry_script_tags('global') }}
        {% endblock %}
        <script>

        </script>
    </head>
    <body>
    <nav class="site-header sticky-top py-1 mb-5">
        <div class="container d-flex flex-column flex-md-row justify-content-start">
            <a class="py-2 d-none d-md-inline-block mr-5" href="{{ path('project_index') }}">Projects</a>
            <a class="py-2 d-none d-md-inline-block mr-5" href="{{ path('task_index') }}">Tasks</a>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}

                <a class="py-2 d-none d-md-inline-block mr-5 ml-auto" href="{{ path('app_login') }}">Login</a>
            {% else  %}
                <a class="py-2 d-none d-md-inline-block mr-5" href="{{ path('app.swagger_ui') }}">API DOC</a>
                <a class="py-2 d-none d-md-inline-block mr-5 ml-auto" href="{{ path('app_logout') }}">Logout</a>
            {% endif %}
        </div>
    </nav>
    <main role="main" class="container-lg">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
            {% block body %}{% endblock %}
        </main>


        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
