
{#
To avoid a "reached nested level" error an exclamation mark `!` has to be added
See https://symfony.com/blog/new-in-symfony-3-4-improved-the-overriding-of-templates
#}
{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}
 {% block header %}
     <a id="logo" href="https://paynetics.digital" target="_blank">
         <img src="https://paynetics.digital/wp-content/uploads/2020/02/paynetics_logo.svg" alt="paynetics"></a>
 {% endblock header %}
