{% extends 'base.html.twig' %}

{% block title %}Edit Project{% endblock %}

{% block body %}
    <h1>Edit Project
        <a href="{{ path('project_index') }}" class="btn btn-secondary btn-md pull-right">back to list</a>
    </h1>

    {{ include('project/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
