{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    {% if  projects.code == 0 %}
        <h1>Project index
        {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-info btn-sm" href="{{ path('project_new') }}">Create new</a>
    {% endif %}
        </h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Client</th>
                <th>Company</th>
                <th>Duration</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects.data.items %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.title }}</td>
                <td>{{ project.client }}</td>
                <td>{{ project.company }}</td>
                <td>{{ project.duration ? project.duration|date('Y-m-d') : '-'  }}</td>
                <td>{{ project.status }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Actions">
                        <a class="btn btn-info btn-sm" href="{{ path('project_show', {'id': project.id}) }}"><i class="fa  fa-eye"></i></a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-primary btn-sm" href="{{ path('project_edit', {'id': project.id}) }}"><i class="fa fa-pencil"></i></a>
                        {% endif %}
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li> </li>
                        {% for key,link in projects.data.links %}

                            {% if key == 'self' %}
                                <li class="page-item "><span class="page-link bg-primary text-white">{{ key|title }}</span></li>
                            {% elseif link %}
                                <li class="page-item"><a class="page-link" href="{{ path('project_index') }}?{{ link }}">{{ key|title }}</a></li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </nav>
            </td>
        </tr>
        </tfoot>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('project_new') }}">Create new</a>
    {% endif %}
    {% else %}
        <div class="alert alert-secondary" role="alert">
            Cannot Fetch data From Server
        </div>
    {% endif %}
{% endblock %}
