{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <h1>Create new Project
        <a href="{{ path('task_index') }}" class="btn btn-secondary btn-md pull-right">back to list</a>
    </h1>

    {{ include('project/_form.html.twig') }}

{% endblock %}
