{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project <sup> <span class="badge badge-info">{{ project.status }}</span></sup>
        <a href="{{ path('project_index') }}" class="btn btn-secondary btn-md fa-pull-right mr-5"><i class="fa fa-sliders"></i> back to list</a>

    </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ project.client }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ project.company|default("-") }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ project.duration ? project.duration|date('Y-m-d') : '-'  }}</td>
            </tr>

        </tbody>
    </table>
    {% if project.task|length > 0 %}
        <h3>Tasks</h3>
        <table class="table">
            <thead>
                <th>Id</th>
                <th>Title</th>
                <th>Status</th>
                <th>Duration</th>
                <th>Action</th>
            </thead>
            <tbody>
            {% for task in project.task %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ task.duration ? task.duration|date('Y-m-d') : '-'  }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Actions">
                            <a class="btn btn-info btn-sm" href="{{ path('task_show', {'id': task.id}) }}"><i class="fa  fa-eye"></i></a>
                            {% if  is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-primary btn-sm" href="{{ path('task_edit', {'id': task.id}) }}"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                        </div>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if  is_granted('ROLE_ADMIN') %}
        <a href="{{ path('project_edit', {'id': project.id}) }}" class="btn btn-primary btn-md fa-pull-left">
            <i class="fa fa-pencil"></i> Edit
        </a>
    {{ include('project/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
